.grid {
    display: grid;
    grid-template-areas:'d d' 
                        'a b' 
                        'c c';
    /* grid-template-rows: 50px 1fr 30px; */
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.chart {
    border-radius: 20px;
    background: #f4f4f4;
}
.line_chart {
    border-radius: 20px;
    background: #f4f4f4;
    grid-area: c;
}
.control {
    grid-area: d;
}
/* .produced_chart {
    grid-area: a;
}
.top_defects_chart {
    grid-area: b;
} */